In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import unicodedata
from helperFunctions import *

In [2]:
!pwd

/home/narquette/NoShowAppointments

In [147]:
#get data from file
appt_data = pd.read_csv(os.path.join('../', '../', '../', 'Data',
                                     'Preprocessing',
                                     'NoShowAppointments_Kaggle_May2016.csv'),
                        parse_dates=['ScheduledDay', 'AppointmentDay'])
weather_data = pd.read_csv(os.path.join(
    '../', '../', '../', 'Data', 'Preprocessing',
    'BrazilWeatherData_Vitario_2016_2019.csv'),
                           sep='|',
                           low_memory=False)

In [148]:
appt_data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [149]:
appt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null datetime64[ns, UTC]
AppointmentDay    110527 non-null datetime64[ns, UTC]
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: datetime64[ns, UTC](2), float64(1), int64(8), object(3)
memory usage: 11.8+ MB

In [150]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 14 columns):
WeatherYear                       1461 non-null int64
WeatherMonth                      1461 non-null int64
WeatherDay                        1461 non-null int64
Actual High                       1461 non-null int64
Actual Low                        1461 non-null int64
Actual Avg                        1461 non-null int64
Normal High                       1461 non-null int64
Normal Low                        1461 non-null int64
Normal Avg                        1461 non-null int64
Actual - Normal Avg Difference    1461 non-null int64
Precipitation Amount              1461 non-null float64
Heat Degree Day                   1461 non-null int64
Cool Degree Day                   1461 non-null int64
Rain Classification               1461 non-null int64
dtypes: float64(1), int64(13)
memory usage: 159.9 KB

In [151]:
weather_data['WeatherDate'] = weather_data.apply(
    lambda x: '%s/%s/%s' %
    (int(x['WeatherYear']), int(x['WeatherMonth']), int(x['WeatherDay'])),
    axis=1)

In [152]:
weather_data['WeatherDate'].head()

0    2016/1/1
1    2016/1/2
2    2016/1/3
3    2016/1/4
4    2016/1/5
Name: WeatherDate, dtype: object

In [153]:
weather_data['WeatherDate'] = pd.to_datetime(weather_data['WeatherDate'],utc=True)

In [154]:
weather_dict = dict(
    zip(weather_data['WeatherDate'], weather_data['Rain Classification']))

In [155]:
no_rain = 0
rain = 0 
for w in appt_data['AppointmentDay']:
    rain_class = weather_dict.get(w)
    if rain_class == 1:
        no_rain += 1
    else :
        rain += 1
        
print(f"There are {rain} days of rain with {no_rain} days of no rain")

There are 16971 days of rain with 93556 days of no rain

In [156]:
appt_data['RainClassification'] = appt_data.apply(lambda x: weather_dict.get(x['AppointmentDay']),axis=1)

In [157]:
appt_data['RainClassification'].head()

0    1
1    1
2    1
3    1
4    1
Name: RainClassification, dtype: int64

In [137]:
#cut dataframe by buckets and labels
#anything under -1 will be listed as below
#anything equal to 0 will be listed as same
#anything over 1 will be listed as a over
buckets = [
    weather_data['Actual - Normal Avg Difference'].min(), -1, 1,
    weather_data['Actual - Normal Avg Difference'].max()
]
buckets_name = ['below', 'same', 'above']
weather_data['ActualAvgMinusNormalAvg'] = pd.cut(
    weather_data['Actual - Normal Avg Difference'],
    buckets,
    labels=buckets_name)

In [141]:
#create a dictionary to store the information
weather_avgcomparison_dict = dict(
    zip(weather_data['WeatherDate'], weather_data['ActualAvgMinusNormalAvg']))

In [142]:
#add column appointment dataframe
appt_data['NormalVersusActualTempAverage'] = appt_data.apply(
    lambda x: weather_avgcomparison_dict.get(x['AppointmentDay']), axis=1)

In [144]:
#remove data from memory
del appt_data
del weather_data